#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.DS_Store

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea

#-------------------------------------------------------------------------------
# Vagrant
#-------------------------------------------------------------------------------

.vagrant
